In [2]:
import pandas as pd
import numpy as np

In [3]:
# import data
owners=pd.read_csv("/Users/srikarprayaga/Desktop/Denver-Broncos-Data-Science-Intern-Prework-/data/owners.csv")
pets=pd.read_csv("/Users/srikarprayaga/Desktop/Denver-Broncos-Data-Science-Intern-Prework-/data/pets.csv")
procedure_details=pd.read_csv("/Users/srikarprayaga/Desktop/Denver-Broncos-Data-Science-Intern-Prework-/data/procedure_details.csv")
procedures=pd.read_csv("/Users/srikarprayaga/Desktop/Denver-Broncos-Data-Science-Intern-Prework-/data/procedures.csv")

In [5]:
owners.head(10)

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode
0,6049,Debbie,Metivier,315 Goff Avenue,Grand Rapids,MI,Michigan,49503
1,2863,John,Sebastian,3221 Perry Street,Davison,MI,Michigan,48423
2,3518,Connie,Pauley,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302
3,3663,Lena,Haliburton,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034
5,7101,Bessie,Yen,30 Cunningham Court,Rochester Hills,MI,Michigan,48306
6,2419,Luisa,Cuellar,1308 Shingleton Road,Kalamazoo,MI,Michigan,49007
7,6194,Karen,Torres,3941 Ritter Avenue,Center Line,MI,Michigan,48015
8,5833,Mary,Hurtado,4865 Juniper Drive,Saint Charles,MI,Michigan,48655
9,9614,Carmen,Ingram,1056 Eagle Drive,Detroit,MI,Michigan,48219

In [6]:
pets.head(10)

     PetID        Name    Kind  Gender  Age  OwnerID
0  J6-8562      Brandy     Dog    male   11     5168
1  Q0-2001      Roomba     Cat    male    9     5508
2  M0-2904       Simba     Cat    male    1     3086
3  R3-7551      Keller  Parrot  female    2     7908
4  P2-7342     Cuddles     Dog    male   13     4378
5  X0-8765     Vuitton  Parrot  female   11     7581
6  Z4-5652       Priya     Cat  female    7     7343
7  Z4-4045       Simba     Cat    male    0     2700
8  M8-7852      Cookie     Cat  female    8     7606
9  J2-3320  Heisenberg     Dog    male    3     1319

In [10]:
procedure_details.head(10)

  ProcedureType  ProcedureSubCode      Description  Price
0   OFFICE FEES                 1      Office Call     32
1   OFFICE FEES                 2        Emergency    100
2   OFFICE FEES                 3             Reck     24
3      GROOMING                 1             Bath     15
4      GROOMING                 2         Flea Dip     15
5      GROOMING                 3       Flea Spray     10
6  VACCINATIONS                 1  Galaxie (DHLPP)     15
7  VACCINATIONS                 2         Leukemia     20
8  VACCINATIONS                 3             Lyme     15
9  VACCINATIONS                 4              PCR     15

In [11]:
procedures.head(10)

     PetID   Date ProcedureType  ProcedureSubCode
0  T0-3277  42391  VACCINATIONS                 5
1  G6-6501  42398  VACCINATIONS                 5
2  P9-3625  42399    ORTHOPEDIC                 7
3  F1-1855  42402  VACCINATIONS                 5
4  S1-2243  42404  VACCINATIONS                 5
5  L8-0046  42405  VACCINATIONS                 5
6  L4-6292  42405  VACCINATIONS                 5
7  X0-8765  42447  VACCINATIONS                 5
8  J8-7429  42494  VACCINATIONS                 5
9  J8-7429  42498  VACCINATIONS                 5

In [17]:
# number of dogs in dataset
pets[pets['Kind']=='Dog'].count()

PetID      57
Name       57
Kind       57
Gender     57
Age        57
OwnerID    57
dtype: int64

In [33]:
merge_1=pets.merge(procedures,left_on='PetID',right_on='PetID')
merge_2=merge_1.merge(procedures,left_on='ProcedureSubCode',right_on='ProcedureSubCode')
final_merge=merge_2.merge(procedure_details,left_on='ProcedureSubCode',right_on='ProcedureSubCode')
final_merge=final_merge.merge(owners,left_on='OwnerID',right_on='OwnerID')
final_merge

,PetID_x,Name_x,Kind,Gender,Age,OwnerID,Date_x,ProcedureType_x,ProcedureSubCode,PetID_y,...,ProcedureType,Description,Price,Name_y,Surname,StreetAddress,City,State,StateFull,ZipCode
0,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,J6-8562,...,ORTHOPEDIC,Pin Removal,68,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
1,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,J6-8562,...,GENERAL SURGERIES,Umbilical,175,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
2,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,X0-8765,...,ORTHOPEDIC,Pin Removal,68,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
3,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,X0-8765,...,GENERAL SURGERIES,Umbilical,175,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
4,X0-8765,Vuitton,Parrot,female,11,7581,42646,GENERAL SURGERIES,8,J6-8562,...,ORTHOPEDIC,Pin Removal,68,Florence,Nolen,3103 Howard Street,Grand Rapids,MI,Michigan,49503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2807,Q2-3642,Thatcher,Parrot,female,8,8143,42642,ORTHOPEDIC,9,Q2-3642,...,ORTHOPEDIC,Cast Removal,40,Jackie,Hatmaker,949 John Avenue,East Lansing,MI,Michigan,48823
2808,Q2-3642,Thatcher,Parrot,female,8,8143,42642,ORTHOPEDIC,9,Q2-3642,...,GENERAL SURGERIES,Perineal,375,Jackie,Hatmaker,949 John Avenue,East Lansing,MI,Michigan,48823
2809,J1-6366,Bruce,Dog,male,3,8316,42665,GENERAL SURGERIES,17,J1-6366,...,GENERAL SURGERIES,Radical Mastectomy,450,Daniel,Fay,894 Twin Oaks Drive,Grand Rapids,MI,Michigan,49503
2810,P9-3625,Cuddles,Dog,male,14,7579,42399,ORTHOPEDIC,7,P9-3625,...,ORTHOPEDIC,Pinning-I.M.,325,Ricardo,Peterson,4963 Mahlon Street,Ann Arbor,MI,Michigan,48104
2811,P9-3625,Cuddles,Dog,male,14,7579,42399,ORTHOPEDIC,7,P9-3625,...,GENERAL SURGERIES,Hernia,390,Ricardo,Peterson,4963 Mahlon Street,Ann Arbor,MI,Michigan,48104

In [73]:
# get the person who spent the most on pet
final_merge[final_merge['OwnerID']==final_merge.groupby('OwnerID').sum()["Price"].sort_values(ascending=False).index[0]]

,PetID_x,Name_x,Kind,Gender,Age,OwnerID,Date_x,ProcedureType_x,ProcedureSubCode,PetID_y,...,ProcedureType,Description,Price,Name_y,Surname,StreetAddress,City,State,StateFull,ZipCode
638,L4-6292,Bright,Dog,male,13,3089,42405,VACCINATIONS,5,T0-3277,...,VACCINATIONS,Rabies,10,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
639,L4-6292,Bright,Dog,male,13,3089,42405,VACCINATIONS,5,T0-3277,...,ORTHOPEDIC,Lx Patella Repair,305,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
640,L4-6292,Bright,Dog,male,13,3089,42405,VACCINATIONS,5,T0-3277,...,GENERAL SURGERIES,Ear Crop,350,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
641,L4-6292,Bright,Dog,male,13,3089,42405,VACCINATIONS,5,G6-6501,...,VACCINATIONS,Rabies,10,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
642,L4-6292,Bright,Dog,male,13,3089,42405,VACCINATIONS,5,G6-6501,...,ORTHOPEDIC,Lx Patella Repair,305,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,G6-6501,Jake,Cat,male,2,3089,42581,VACCINATIONS,5,H2-8586,...,ORTHOPEDIC,Lx Patella Repair,305,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
994,G6-6501,Jake,Cat,male,2,3089,42581,VACCINATIONS,5,H2-8586,...,GENERAL SURGERIES,Ear Crop,350,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
995,G6-6501,Jake,Cat,male,2,3089,42581,VACCINATIONS,5,L4-6292,...,VACCINATIONS,Rabies,10,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
996,G6-6501,Jake,Cat,male,2,3089,42581,VACCINATIONS,5,L4-6292,...,ORTHOPEDIC,Lx Patella Repair,305,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855
997,G6-6501,Jake,Cat,male,2,3089,42581,VACCINATIONS,5,L4-6292,...,GENERAL SURGERIES,Ear Crop,350,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855

In [88]:
# number of owners who spent more than equal to 10 dollars on pets
final=final_merge.groupby('OwnerID').sum()
(final['Price']>=10).count()

33

In [109]:
City with most number of dogs
final_merge[final_merge['Kind']=='Dog'].groupby('City').count()['ZipCode'].sort_values(ascending=False)

City
Southfield          288
Marquette           270
Pontiac             270
Grand Rapids        203
Center Line          90
Commerce             90
Lansing              90
Plymouth             90
Saint Charles        90
Farmington Hills     15
Kalamazoo            15
Ann Arbor             2
Name: ZipCode, dtype: int64

In [132]:
detroit=final_merge[final_merge["City"]=='Detroit']
detroit

,PetID_x,Name_x,Kind,Gender,Age,OwnerID,Date_x,ProcedureType_x,ProcedureSubCode,PetID_y,...,ProcedureType,Description,Price,Name_y,Surname,StreetAddress,City,State,StateFull,ZipCode
1358,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,T0-3277,...,VACCINATIONS,Rabies,10,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
1359,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,T0-3277,...,ORTHOPEDIC,Lx Patella Repair,305,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
1360,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,T0-3277,...,GENERAL SURGERIES,Ear Crop,350,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
1361,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,G6-6501,...,VACCINATIONS,Rabies,10,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
1362,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,G6-6501,...,ORTHOPEDIC,Lx Patella Repair,305,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,H2-8586,...,ORTHOPEDIC,Lx Patella Repair,305,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
1444,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,H2-8586,...,GENERAL SURGERIES,Ear Crop,350,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
1445,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,L4-6292,...,VACCINATIONS,Rabies,10,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
1446,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,L4-6292,...,ORTHOPEDIC,Lx Patella Repair,305,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226
1447,M2-1131,Rumba,Cat,male,8,1915,42705,ORTHOPEDIC,5,L4-6292,...,GENERAL SURGERIES,Ear Crop,350,Christopher,Bowers,3575 Woodbridge Lane,Detroit,MI,Michigan,48226

In [144]:
xda=owners.merge(pets,left_on='OwnerID', right_on='OwnerID')
xs=xda[xda['City']=='Detroit']
np.mean(xs[xs['Kind']=='Dog']['Age'])

7.8

In [145]:
final_merge

,PetID_x,Name_x,Kind,Gender,Age,OwnerID,Date_x,ProcedureType_x,ProcedureSubCode,PetID_y,...,ProcedureType,Description,Price,Name_y,Surname,StreetAddress,City,State,StateFull,ZipCode
0,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,J6-8562,...,ORTHOPEDIC,Pin Removal,68,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
1,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,J6-8562,...,GENERAL SURGERIES,Umbilical,175,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
2,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,X0-8765,...,ORTHOPEDIC,Pin Removal,68,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
3,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,X0-8765,...,GENERAL SURGERIES,Umbilical,175,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
4,X0-8765,Vuitton,Parrot,female,11,7581,42646,GENERAL SURGERIES,8,J6-8562,...,ORTHOPEDIC,Pin Removal,68,Florence,Nolen,3103 Howard Street,Grand Rapids,MI,Michigan,49503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2807,Q2-3642,Thatcher,Parrot,female,8,8143,42642,ORTHOPEDIC,9,Q2-3642,...,ORTHOPEDIC,Cast Removal,40,Jackie,Hatmaker,949 John Avenue,East Lansing,MI,Michigan,48823
2808,Q2-3642,Thatcher,Parrot,female,8,8143,42642,ORTHOPEDIC,9,Q2-3642,...,GENERAL SURGERIES,Perineal,375,Jackie,Hatmaker,949 John Avenue,East Lansing,MI,Michigan,48823
2809,J1-6366,Bruce,Dog,male,3,8316,42665,GENERAL SURGERIES,17,J1-6366,...,GENERAL SURGERIES,Radical Mastectomy,450,Daniel,Fay,894 Twin Oaks Drive,Grand Rapids,MI,Michigan,49503
2810,P9-3625,Cuddles,Dog,male,14,7579,42399,ORTHOPEDIC,7,P9-3625,...,ORTHOPEDIC,Pinning-I.M.,325,Ricardo,Peterson,4963 Mahlon Street,Ann Arbor,MI,Michigan,48104
2811,P9-3625,Cuddles,Dog,male,14,7579,42399,ORTHOPEDIC,7,P9-3625,...,GENERAL SURGERIES,Hernia,390,Ricardo,Peterson,4963 Mahlon Street,Ann Arbor,MI,Michigan,48104

In [156]:
final_merge[final_merge['Kind']=='Parrot'].groupby('ProcedureType_y').count()

,PetID_x,Name_x,Kind,Gender,Age,OwnerID,Date_x,ProcedureType_x,ProcedureSubCode,PetID_y,...,ProcedureType,Description,Price,Name_y,Surname,StreetAddress,City,State,StateFull,ZipCode
ProcedureType_y,,,,,,,,,,,,,,,,,,,,,
GENERAL SURGERIES,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
GROOMING,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
ORTHOPEDIC,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
VACCINATIONS,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261

In [154]:
final_merge

,PetID_x,Name_x,Kind,Gender,Age,OwnerID,Date_x,ProcedureType_x,ProcedureSubCode,PetID_y,...,ProcedureType,Description,Price,Name_y,Surname,StreetAddress,City,State,StateFull,ZipCode
0,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,J6-8562,...,ORTHOPEDIC,Pin Removal,68,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
1,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,J6-8562,...,GENERAL SURGERIES,Umbilical,175,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
2,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,X0-8765,...,ORTHOPEDIC,Pin Removal,68,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
3,J6-8562,Brandy,Dog,male,11,5168,42603,GENERAL SURGERIES,8,X0-8765,...,GENERAL SURGERIES,Umbilical,175,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503
4,X0-8765,Vuitton,Parrot,female,11,7581,42646,GENERAL SURGERIES,8,J6-8562,...,ORTHOPEDIC,Pin Removal,68,Florence,Nolen,3103 Howard Street,Grand Rapids,MI,Michigan,49503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2807,Q2-3642,Thatcher,Parrot,female,8,8143,42642,ORTHOPEDIC,9,Q2-3642,...,ORTHOPEDIC,Cast Removal,40,Jackie,Hatmaker,949 John Avenue,East Lansing,MI,Michigan,48823
2808,Q2-3642,Thatcher,Parrot,female,8,8143,42642,ORTHOPEDIC,9,Q2-3642,...,GENERAL SURGERIES,Perineal,375,Jackie,Hatmaker,949 John Avenue,East Lansing,MI,Michigan,48823
2809,J1-6366,Bruce,Dog,male,3,8316,42665,GENERAL SURGERIES,17,J1-6366,...,GENERAL SURGERIES,Radical Mastectomy,450,Daniel,Fay,894 Twin Oaks Drive,Grand Rapids,MI,Michigan,49503
2810,P9-3625,Cuddles,Dog,male,14,7579,42399,ORTHOPEDIC,7,P9-3625,...,ORTHOPEDIC,Pinning-I.M.,325,Ricardo,Peterson,4963 Mahlon Street,Ann Arbor,MI,Michigan,48104
2811,P9-3625,Cuddles,Dog,male,14,7579,42399,ORTHOPEDIC,7,P9-3625,...,GENERAL SURGERIES,Hernia,390,Ricardo,Peterson,4963 Mahlon Street,Ann Arbor,MI,Michigan,48104

In [173]:
xda=owners.merge(pets,left_on='OwnerID', right_on='OwnerID')
perro=xda[xda['Kind']=="Dog"]
gato=xda[xda['Kind']=="Cat"]
perro.merge(gato,left_on='OwnerID',right_on='OwnerID')

,OwnerID,Name_x_x,Surname_x,StreetAddress_x,City_x,State_x,StateFull_x,ZipCode_x,PetID_x,Name_y_x,...,StreetAddress_y,City_y,State_y,StateFull_y,ZipCode_y,PetID_y,Name_y_y,Kind_y,Gender_y,Age_y
0,8133,Stacey,Randolph,1145 D Street,Southfield,MI,Michigan,48075,G0-7675,Taz,...,1145 D Street,Southfield,MI,Michigan,48075,T0-3277,Humbert,Cat,male,12
1,8133,Stacey,Randolph,1145 D Street,Southfield,MI,Michigan,48075,O3-1895,Candy,...,1145 D Street,Southfield,MI,Michigan,48075,T0-3277,Humbert,Cat,male,12
2,3089,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,L4-6292,Bright,...,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,G6-6501,Jake,Cat,male,2
3,3089,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,I7-9550,Angel,...,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,G6-6501,Jake,Cat,male,2

In [203]:
owner_ids=xda[xda['Name_y'].str.startswith('B')]
owner_ids

,OwnerID,Name_x,Surname,StreetAddress,City,State,StateFull,ZipCode,PetID,Name_y,Kind,Gender,Age
0,6049,Debbie,Metivier,315 Goff Avenue,Grand Rapids,MI,Michigan,49503,I6-9459,Biscuit,Dog,female,4
1,2863,John,Sebastian,3221 Perry Street,Davison,MI,Michigan,48423,R4-6131,Biscuit,Dog,female,5
2,3518,Connie,Pauley,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302,N6-7350,Biscuit,Dog,female,8
3,3663,Lena,Haliburton,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684,U4-6674,Biscuit,Dog,female,1
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034,U8-6473,Biscuit,Dog,female,3
5,7101,Bessie,Yen,30 Cunningham Court,Rochester Hills,MI,Michigan,48306,S4-0789,Biscuit,Dog,female,10
7,6194,Karen,Torres,3941 Ritter Avenue,Center Line,MI,Michigan,48015,O6-3123,Biscuit,Dog,female,2
8,5833,Mary,Hurtado,4865 Juniper Drive,Saint Charles,MI,Michigan,48655,T0-5705,Biscuit,Dog,female,5
26,6406,Catherine,Hundley,1381 Wildrose Lane,Highland Park,MI,Michigan,48203,X6-4876,Brandy,Cat,female,3
45,8215,Max,Smith,1054 Hayhurst Lane,Pontiac,MI,Michigan,48342,J8-7429,Bonaparte,Dog,male,4
63,6102,Robert,Partridge,704 Railroad Street,Marquette,MI,Michigan,49855,H8-8856,Bandit,Parrot,male,11
73,4185,Andrew,Salazar,1968 Veltri Drive,Marquette,MI,Michigan,49855,O5-2472,Bright,Dog,male,12
74,4110,Gregory,Aucoin,4849 Elk Avenue,Lansing,MI,Michigan,48933,Q0-8904,Bright,Dog,male,1
75,7085,Gene,Kern,4265 Pinewood Avenue,Bruce Crossing,MI,Michigan,49912,L8-9022,Bright,Dog,male,7
76,3089,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,L4-6292,Bright,Dog,male,13
79,8316,Daniel,Fay,894 Twin Oaks Drive,Grand Rapids,MI,Michigan,49503,J1-6366,Bruce,Dog,male,3
80,5502,Raul,North,4838 Corpening Drive,Farmington,MI,Michigan,48336,L4-4030,Bruce,Dog,male,1
81,3691,Richard,Duke,78 Amethyst Drive,Lansing,MI,Michigan,48911,S4-1063,Bruce,Dog,male,0
82,2809,Bruce,Dunne,4119 Kimberly Way,Grand Rapids,MI,Michigan,49503,K0-8177,Bruce,Dog,male,12
86,9604,William,Tea,367 Cherry Ridge Drive,Roseville,MI,Michigan,48066,F1-1855,Bandit,Parrot,male,2
87,1899,Jeffrey,Moore,2420 Echo Lane,Middleville,MI,Michigan,49333,O8-2501,Bandit,Parrot,male,5
92,5168,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503,J6-8562,Brandy,Dog,male,11
99,1546,Joseph,Blow,556 D Street,Southfield,MI,Michigan,48075,U6-4890,Brandy,Dog,male,6

In [207]:
xda=owners.merge(pets,left_on='OwnerID', right_on='OwnerID')
ida=xda.merge(owner_ids,right_on='OwnerID',left_on='OwnerID')
ida

,OwnerID,Name_x_x,Surname_x,StreetAddress_x,City_x,State_x,StateFull_x,ZipCode_x,PetID_x,Name_y_x,...,StreetAddress_y,City_y,State_y,StateFull_y,ZipCode_y,PetID_y,Name_y_y,Kind_y,Gender_y,Age_y
0,6049,Debbie,Metivier,315 Goff Avenue,Grand Rapids,MI,Michigan,49503,I6-9459,Biscuit,...,315 Goff Avenue,Grand Rapids,MI,Michigan,49503,I6-9459,Biscuit,Dog,female,4
1,2863,John,Sebastian,3221 Perry Street,Davison,MI,Michigan,48423,R4-6131,Biscuit,...,3221 Perry Street,Davison,MI,Michigan,48423,R4-6131,Biscuit,Dog,female,5
2,3518,Connie,Pauley,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302,N6-7350,Biscuit,...,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302,N6-7350,Biscuit,Dog,female,8
3,3663,Lena,Haliburton,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684,U4-6674,Biscuit,...,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684,U4-6674,Biscuit,Dog,female,1
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034,U8-6473,Biscuit,...,3861 Woodbridge Lane,Southfield,MI,Michigan,48034,U8-6473,Biscuit,Dog,female,3
5,7101,Bessie,Yen,30 Cunningham Court,Rochester Hills,MI,Michigan,48306,S4-0789,Biscuit,...,30 Cunningham Court,Rochester Hills,MI,Michigan,48306,S4-0789,Biscuit,Dog,female,10
6,6194,Karen,Torres,3941 Ritter Avenue,Center Line,MI,Michigan,48015,O6-3123,Biscuit,...,3941 Ritter Avenue,Center Line,MI,Michigan,48015,O6-3123,Biscuit,Dog,female,2
7,5833,Mary,Hurtado,4865 Juniper Drive,Saint Charles,MI,Michigan,48655,T0-5705,Biscuit,...,4865 Juniper Drive,Saint Charles,MI,Michigan,48655,T0-5705,Biscuit,Dog,female,5
8,6406,Catherine,Hundley,1381 Wildrose Lane,Highland Park,MI,Michigan,48203,X6-4876,Brandy,...,1381 Wildrose Lane,Highland Park,MI,Michigan,48203,X6-4876,Brandy,Cat,female,3
9,8215,Max,Smith,1054 Hayhurst Lane,Pontiac,MI,Michigan,48342,J8-7429,Bonaparte,...,1054 Hayhurst Lane,Pontiac,MI,Michigan,48342,J8-7429,Bonaparte,Dog,male,4
10,6102,Robert,Partridge,704 Railroad Street,Marquette,MI,Michigan,49855,H8-8856,Bandit,...,704 Railroad Street,Marquette,MI,Michigan,49855,H8-8856,Bandit,Parrot,male,11
11,6102,Robert,Partridge,704 Railroad Street,Marquette,MI,Michigan,49855,W8-5750,Simba,...,704 Railroad Street,Marquette,MI,Michigan,49855,H8-8856,Bandit,Parrot,male,11
12,4185,Andrew,Salazar,1968 Veltri Drive,Marquette,MI,Michigan,49855,O5-2472,Bright,...,1968 Veltri Drive,Marquette,MI,Michigan,49855,O5-2472,Bright,Dog,male,12
13,4110,Gregory,Aucoin,4849 Elk Avenue,Lansing,MI,Michigan,48933,Q0-8904,Bright,...,4849 Elk Avenue,Lansing,MI,Michigan,48933,Q0-8904,Bright,Dog,male,1
14,7085,Gene,Kern,4265 Pinewood Avenue,Bruce Crossing,MI,Michigan,49912,L8-9022,Bright,...,4265 Pinewood Avenue,Bruce Crossing,MI,Michigan,49912,L8-9022,Bright,Dog,male,7
15,3089,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,L4-6292,Bright,...,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,L4-6292,Bright,Dog,male,13
16,3089,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,I7-9550,Angel,...,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,L4-6292,Bright,Dog,male,13
17,3089,Lee,McKenzie,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,G6-6501,Jake,...,3295 Pinewood Avenue,Marquette,MI,Michigan,49855,L4-6292,Bright,Dog,male,13
18,8316,Daniel,Fay,894 Twin Oaks Drive,Grand Rapids,MI,Michigan,49503,J1-6366,Bruce,...,894 Twin Oaks Drive,Grand Rapids,MI,Michigan,49503,J1-6366,Bruce,Dog,male,3
19,5502,Raul,North,4838 Corpening Drive,Farmington,MI,Michigan,48336,L4-4030,Bruce,...,4838 Corpening Drive,Farmington,MI,Michigan,48336,L4-4030,Bruce,Dog,male,1
20,3691,Richard,Duke,78 Amethyst Drive,Lansing,MI,Michigan,48911,S4-1063,Bruce,...,78 Amethyst Drive,Lansing,MI,Michigan,48911,S4-1063,Bruce,Dog,male,0
21,2809,Bruce,Dunne,4119 Kimberly Way,Grand Rapids,MI,Michigan,49503,K0-8177,Bruce,...,4119 Kimberly Way,Grand Rapids,MI,Michigan,49503,K0-8177,Bruce,Dog,male,12
22,9604,William,Tea,367 Cherry Ridge Drive,Roseville,MI,Michigan,48066,F1-1855,Bandit,...,367 Cherry Ridge Drive,Roseville,MI,Michigan,48066,F1-1855,Bandit,Parrot,male,2
23,1899,Jeffrey,Moore,2420 Echo Lane,Middleville,MI,Michigan,49333,O8-2501,Bandit,...,2420 Echo Lane,Middleville,MI,Michigan,49333,O8-2501,Bandit,Parrot,male,5
24,5168,Robert,Foster,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503,J6-8562,Brandy,...,4680 Rubaiyat Road,Grand Rapids,MI,Michigan,49503,J6-8562,Brandy,Dog,male,11
25,1546,Joseph,Blow,556 D Street,Southfield,MI,Michigan,48075,U6-4890,Brandy,...,556 D Street,Southfield,MI,Michigan,48075,U6-4890,Brandy,Dog,male,6